# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# --------------------
# Environment variables
# --------------------
.env
.env.*

# --------------------
# macOS
# --------------------
.DS_Store
**/.DS_Store

# --------------------
# Chroma / Vector DB
# --------------------
.chroma/
**/.chroma/
*.sqlite3

# --------------------
# Logs
# --------------------
*.log

# --------------------
# IDE
# --------------------
.idea/
.vscode/
